* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 360px;
}
.file {
  font-size: 1.1rem;
}
.container {
  width: 100%;
  position: relative;
  min-height: 400px;
  height: 100%;
  max-height: 60vh;
  font-size: 2rem;
}
.img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
}
input {
  width: min-content;
  background-color: transparent;
  border: none;
  padding: 0 10px;
  font-size: 1.8rem;
}

.rezisable {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  border: 1px solid black;
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.inputs label {
  display: flex;
}
.options {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  height: 100px;
  gap: 1rem;
}
.options img {
  width: 100%;
  object-fit: contain;
  transition: scale 0.3s;
}
.options img:hover {
  scale: 1.1;
}

@media screen and (max-width: 450px) {
  input,
  .container {
    font-size: 1.2rem;
  }
}
